.footer {
  width: 100%;
  padding: var(--space-24);
  border-top-width: 1px;
  border-top-style: solid;
}

.container {
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.columns {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: var(--space-32);
  margin-bottom: var(--space-48);
}

@media (min-width: 768px) {
  .columns {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .columns {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.column {
  display: flex;
  flex-direction: column;
}

.avatarWrap {
  margin-bottom: var(--space-16);
}

.locationWrap {
  margin-bottom: var(--space-24);
}

.heading {
  margin-bottom: var(--space-16);
}

.linkList {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}

.link {
  display: block;
  padding-top: var(--space-8);
  padding-bottom: var(--space-8);
  border-radius: 6px;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.link:hover {
  color: var(--text-color-primary) !important;
}

.bottom {
  border-top-width: 1px;
  border-top-style: solid;
  padding-top: var(--space-24);
}

.copyright {
  text-align: center;
}
